{% extends 'Shop/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        <h3>Welcome {{request.user}}</h3>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Go to profile</a></li>
            </ul>
        </div>
        <div class="col-sm-9 offset-sm-1">
            {% comment %} <form action=""> {% endcomment %}
                {% comment %} <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">New Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Confirm New Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div> {% endcomment %}
                <form action="" method="POST" enctype="multipart/form-data"  class="shadow-sm p-5">
                    {% csrf_token %}
                    {% for x in form %} 
                    {{x.label_tag}} <br>
                    {{x}} <br>
                    <small class="text-danger"> {{x.errors|striptags}}</small> <br>
                    {% endfor %}
                    <input type="submit" class="btn btn-primary mt-4" value="save">
                    {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                <p class='alert alert-danger'>{{error}}</p>
                {% endfor %}
                {% endif %}
                </form>
            {% comment %} </form> {% endcomment %}
        </div>
    </div>
</div>
{% endblock main-content %}